In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn import preprocessing

In [2]:
# Load the CSV file into a DataFrame
file_path = 'dataset.csv'  # Assuming you uploaded one file
data_df = pd.read_csv(file_path)
print(data_df.shape)
data_df.head()

(175717, 34)

,record,type,0_pre-RR,0_post-RR,ECG_P_Peaks,ECG_T_Peaks,ECG_R_Peaks,ECG_S_Peaks,ECG_Q_Peaks,0_qrs_interval,...,1_qPeak,1_qrs_interval,1_pq_interval,1_qt_interval,1_st_interval,1_qrs_morph0,1_qrs_morph1,1_qrs_morph2,1_qrs_morph3,1_qrs_morph4
0,I01,N,163,165,0.069610,-0.083281,0.614133,-0.392761,0.047159,15,...,-0.023370,14,3,23,6,-0.023370,-0.011650,0.082608,0.101373,-0.183387
1,I01,N,165,166,-0.097030,0.597254,-0.078704,-0.078704,-0.137781,3,...,0.081637,15,5,27,7,0.081637,0.102992,0.191225,0.217544,-0.068248
2,I01,N,166,102,0.109399,0.680528,-0.010649,-0.010649,-0.720620,6,...,-0.148539,33,13,52,6,-0.148539,-0.060620,0.081080,0.204400,0.335172
3,I01,VEB,102,231,0.176376,0.256431,-0.101098,-0.707525,-0.101098,4,...,0.046898,21,9,34,4,0.046898,0.083728,0.279512,0.526785,0.450969
4,I01,N,231,165,0.585577,0.607461,-0.083499,-0.083499,-0.167858,3,...,-0.112552,32,5,43,6,-0.112552,0.012989,0.091491,0.134004,0.265232

In [3]:
x_data = data_df[['ECG_P_Peaks',	'ECG_T_Peaks',	'ECG_R_Peaks',	'ECG_S_Peaks',	'ECG_Q_Peaks']]
y_label = data_df[['type']]
x_data.head()

   ECG_P_Peaks  ECG_T_Peaks  ECG_R_Peaks  ECG_S_Peaks  ECG_Q_Peaks
0     0.069610    -0.083281     0.614133    -0.392761     0.047159
1    -0.097030     0.597254    -0.078704    -0.078704    -0.137781
2     0.109399     0.680528    -0.010649    -0.010649    -0.720620
3     0.176376     0.256431    -0.101098    -0.707525    -0.101098
4     0.585577     0.607461    -0.083499    -0.083499    -0.167858

In [4]:
y_label.value_counts()

type
N       153543
VEB      19996
SVEB      1955
F          218
Q            5
Name: count, dtype: int64

In [5]:
# Transform multi-class labels into binary-class (arrhythmia and normal)
y_label.replace(['VEB', 'SVEB', 'F', 'Q'], 'arrhythmia', inplace=True)
y_label.replace(['N'], 'normal', inplace=True)

C:\Users\Mayar Ehab\AppData\Local\Temp\ipykernel_11820\1460342108.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_label.replace(['VEB', 'SVEB', 'F', 'Q'], 'arrhythmia', inplace=True)
C:\Users\Mayar Ehab\AppData\Local\Temp\ipykernel_11820\1460342108.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_label.replace(['N'], 'normal', inplace=True)

In [6]:
y_label.value_counts()

type
normal        153543
arrhythmia     22174
Name: count, dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_label, random_state=101)

In [8]:
X_train

        ECG_P_Peaks  ECG_T_Peaks  ECG_R_Peaks  ECG_S_Peaks  ECG_Q_Peaks
150065    -0.084840    -0.046499     0.498124    -0.331789    -0.162957
156914    -0.081846     1.031785    -0.018805    -0.018805    -0.192156
19860      0.019894     0.487474    -0.035378    -0.035378    -0.038406
146080     0.047778    -0.013719     1.141693    -0.321145    -0.069725
35028     -0.083297    -0.265847     1.074617    -0.565727    -0.091438
...             ...          ...          ...          ...          ...
148429    -0.061852    -0.082882     0.605401    -0.355877    -0.142985
151535    -0.024462    -0.277038     1.381443    -0.627130    -0.137996
55293     -0.047636     0.088934     0.595146    -0.886812    -0.100382
49751     -0.055215    -0.257705     1.309982    -0.656260    -0.073344
136767    -0.032358    -0.081589     0.879634    -0.397129    -0.056165

[131787 rows x 5 columns]

In [9]:
model = RandomForestClassifier(random_state=101, n_estimators=150)
model.fit(X_train, y_train)

# training accuracy
print('Accuracy for the train data', model.score(X_train, y_train))

c:\Users\Mayar Ehab\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Accuracy for the train data 1.0

In [10]:
y_pred = model.predict(X_test)
print(y_pred)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

print("*** Confusion Matrix ***")
print(metrics.confusion_matrix(y_test, y_pred))

['arrhythmia' 'normal' 'normal' ... 'arrhythmia' 'normal' 'normal']
Accuracy: 0.9787389027999089
*** Confusion Matrix ***
[[ 4845   697]
 [  237 38151]]

In [28]:
# Load the CSV file into a DataFrame
test_2 = pd.read_csv('./data/with_5.csv')

x_data_test_2 = test_2[['ECG_P_Peaks',	'ECG_T_Peaks',	'ECG_R_Peaks',	'ECG_S_Peaks',	'ECG_Q_Peaks']]
				
y_pred_test = model.predict(x_data_test_2)
print(y_pred_test)

['arrhythmia']

In [12]:
import neurokit2 as nk
import pandas as pd

def extract_features(path):
    ecg_data = pd.read_csv(path) # replace 'ecg_data.csv' with your file path

    ecg_clean = nk.ecg_clean(ecg_data, sampling_rate=500)
    _, waves_peak =  nk.ecg_delineate(ecg_clean)
    _, rpeaks = nk.ecg_peaks(ecg_data, sampling_rate=500)
    # rpeaks=rpeaks['ECG_R_Peaks']
    waves_peak
    p_peaks = waves_peak["ECG_P_Peaks"]
    q_peaks = waves_peak["ECG_Q_Peaks"]
    r_peaks = rpeaks['ECG_R_Peaks']
    s_peaks = waves_peak["ECG_S_Peaks"]
    t_peaks = waves_peak["ECG_T_Peaks"]

    # Create a dictionary from the peaks lists
    peaks_dict = {"ECG_P_Peaks": p_peaks,
                "ECG_Q_Peaks": q_peaks,
                "ECG_R_Peaks": r_peaks,
                "ECG_S_Peaks": s_peaks,
                "ECG_T_Peaks": t_peaks}

    # Convert the dictionary into a pandas DataFrame
    peaks_df = pd.DataFrame(peaks_dict)

    # Reset the index to create a column for the peak type
    peaks_df.reset_index(inplace=True)

    # Rename the index column to 'Peak Type'
    peaks_df.rename(columns={"index": "Peak Type"}, inplace=True)

    # Save the peaks_df DataFrame to a csv file
    peaks_df.to_csv("peaks_data", index=False)

    test_2 = pd.read_csv('./peaks_data')

    x_data_test_2 = test_2[['ECG_P_Peaks',	'ECG_S_Peaks','ECG_R_Peaks',	'ECG_T_Peaks',	'ECG_Q_Peaks']]

    # Normalize the data
    min_max_scaler = preprocessing.MinMaxScaler()
    x_data_test_2_scaled = min_max_scaler.fit_transform(x_data_test_2)

    # Create a pandas DataFrame from the scaled peaks data
    peaks_scaled_df = pd.DataFrame(x_data_test_2_scaled, columns=x_data_test_2.columns)

    # Save the peaks_scaled_df DataFrame to a csv file
    peaks_scaled_df.to_csv('peaks_scaled_data.csv', index=False)

In [13]:
extract_features('./ecg_simulated.csv')